h1::first-letter{
    font-size: 2em;
    font-style: italic;
}

p::first-line{
    background-color: yellow;
}

p::selection{
    color: aliceblue;
    background-color: black;
}

#fruit li::before{
    content: "✓";
}

#apple::after{
    content: "🍎";
}

#orange::after{
    content: "🍊";
}

#banana::after{
    content: "🍌";
}

#fruti li::marker{
    content: "✓";
    color: blue;
    font-size: 1.2em;
}