body{
    background-color: black;
}

p{
    color: aliceblue;
}

#p1{
    color: red;
}

#p2{
    color: blue;
}

#p3{
    color: green;
}

#p4{
    color: yellow;
}

.odd{
    background-color: aliceblue;
}